
@{/*
    ViewBag.Title = "Index";*/
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<h2>Index</h2>

<form action="/" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="Učitaj fajl" />
</form>
 


 
    @if (ViewBag.MyProdList != null)
    {
        <table>
            <tr>
                <th>ID</th>
                <th>Naziv</th>
                <th>Opis</th>
                <th>Kategorija</th>
                <th>Proizvodjac</th>
                <th>Dobavljac</th>
                <th>Cena</th>
            </tr>
            @foreach (var item in ViewBag.MyProdList)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.naziv</td>
                    <td>@item.opis</td>
                    <td>@item.kategorija</td>
                    <td>@item.proizvodjac</td>
                    <td>@item.dobavljac</td>
                    <td>@item.cena</td>

                </tr>

            }
        </table>
            <button onclick="Save()">Sačuvaj proizvode iz fajla u bazu</button>
            <button onclick="SaveFile()">Sačuvaj fajl</button>
    }


            <h2>Proizvodi sačuvani u bazi</h2>
            <button onclick="Create()">Kreiraj novi proizvod</button>
            @if (ViewBag.ViewModelList != null)

            {

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Naziv</th>
                        <th>Opis</th>
                        <th>Kategorija</th>
                        <th>Proizvodjac</th>
                        <th>Dobavljac</th>
                        <th>Cena</th>
                    </tr>
                    @foreach (var item in ViewBag.ViewModelList)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.naziv</td>
                            <td>@item.opis</td>
                            <td>@item.kategorija</td>
                            <td>@item.proizvodjac</td>
                            <td>@item.dobavljac</td>
                            <td>@item.cena</td>
                            <td>
                                <button onclick="Edit(@item.id)">Izmeni proizvod u bazi</button>
                                <button onclick="Delete(@item.id)">Izbriši proizvod iz baze</button>
                            </td>
                        </tr>
                    }
                </table>

            }


<h2>Proizvodi u fajlovima</h2>
<button onclick="CreateToJSON()">Kreiraj novi proizvod</button>
@if (ViewBag.ProdFromFile != null)

            {

    <table>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Kategorija</th>
            <th>Proizvodjac</th>
            <th>Dobavljac</th>
            <th>Cena</th>
        </tr>
        @foreach (var item in ViewBag.ProdFromFile)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.naziv</td>
                <td>@item.opis</td>
                <td>@item.kategorija</td>
                <td>@item.proizvodjac</td>
                <td>@item.dobavljac</td>
                <td>@item.cena</td>
                <td>
                    <button onclick="EditinFile(@item.id)">Izmnei proizvod u fajlu</button>
                    <button onclick="DeleteProduct_JSON(@item.id)">Obriši proizvod iz fajla</button>
                </td>
            </tr>
        }
    </table>

}



            <script>
                var Edit = function (id) {
                    debugger
                    window.location.href = "Home/Edit?id=" + id;
                }
                var EditinFile = function (id,path) {
                    debugger
                    window.location.href = "Home/EditinFile?id=" + id ;
                }
                var Save = function () {
                    debugger
                    window.location.href = "Home/SaveJSONToDB";
                }
                var SaveFile = function () {
                    debugger
                    window.location.href = "Home/SaveJSONToFS";
                }

                var Create = function () {
                    debugger
                    window.location.href = "Home/Create";
                }                
                var CreateToJSON = function () {
                    debugger
                    window.location.href = "Home/CreateProduct_JSON";
                }
                var Delete = function (id) {
                    debugger
                    window.location.href = "Home/Delete?id=" + id;
                }
                var DeleteProduct_JSON = function (id) {
                    debugger
                    window.location.href = "Home/DeleteProduct_JSON?id=" + id;
                }
            </script>

